            <div>
                <form action='javascript: return false;' onsubmit="searchIssues( $('#search_<%=id%>').val()); return false;">
                    <p>
                        <label>Search issues:</label> 
                        <form class="form-search">
							<input type="text" class="input-medium search-query">
                            <button type="submit" class="btn">Submit</button>
						</form>
                    </p>
                </form>
            </div>
